*.vtu
!**images/*.png
!**images/*.eps
*.xls
*.npz
*.tiff
*.txt
*.pyc
*.vtr
*.vtp
*.txt
*.svg
*.log
src/efem/
src/iga/
src/igadem/
src/igampdem/
src/tlsmpm/
examples/***/draw?.py
research/
!images/*.gif
*.ini
build/
dist/
geotaichi.egg-info/
setup.py

t.ipynb
DGb.py
DPmaterial copy.py
DPmaterial.py
btp.py
D-P本构相关参数计算.xlsx
barrier.py
StripFootingTresca.py
btp2500.py
btp2500N.py
btp3000N.py
btp3000.py
callbtp.py
.gitignore
.vscode/settings.json
dbt_.drawio
test.py
*.part1
*.part2
*.part3
.gitignore
1.0m
2m
t2.ipynb
goaftest5/vtks.zip
goaftest7MCL/vtks.zip
NEW_2D copy 2.py
NEW_2D copy.py
RegionChecker.py
DPmaterial copy 2.py
drained.py
