*.vtu
!**images/*.png
!**images/*.eps
*.xls
*.npz
*.tiff
*.txt
*.pyc
*.vtr
*.vtp
*.txt
*.svg
*.log
src/efem/
src/iga/
src/igadem/
src/igampdem/
src/tlsmpm/
examples/***/draw?.py
research/
!images/*.gif
*.ini
build/
dist/
geotaichi.egg-info/
setup.py

t.ipynb
DGb.py
DPmaterial copy.py
DPmaterial.py
